
.vs
_ReSharper.Caches
Wpf.Gui/bin
Wpf.Gui/obj
Algorithms.CommandLine/bin
Algorithms.CommandLine/obj
Algorithms.Common/bin
Algorithms.Common/obj
Algorithms.Sort/bin
Algorithms.Sort/obj
Algorithms.Sort.Tests/bin
Algorithms.Sort.Tests/obj
packages
TestResults
*.user
