
.vs
_ReSharper.Caches
Wpf.Gui/bin
Wpf.Gui/obj
Algorithms.CommandLine/bin
Algorithms.CommandLine/obj
Algorithms.Common/bin
Algorithms.Common/obj
Algorithms.Sort/bin
Algorithms.Sort/obj
packages
TestResults
*.user
Tests/Algorithms.Sort.Tests/bin
Tests/Algorithms.Sort.Tests/obj
Tests/Algorithms.Common.Tests/bin
Tests/Algorithms.Common.Tests/obj
Wpf.Utils/bin
Wpf.Utils/obj
